,<center><h1>HELP PAGE FOR THIS SITE</h1>
<p>This is the help page.  If you need any help click here <a href="http://ruby.railstutorial.org/chapters/static-pages#top">TUTORIAL FOR HELP</a></p>
</center>