<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag("Hari.jpg", :alt => "Hari") %>
            <div class="carousel-caption">
              ...
            </div>
          </div>
          <div class="item">
            <%= image_tag("Hari-1.jpg", :alt => "Hari") %>
            <div class="carousel-caption">
            </div>
          </div>
          ...
        </div>
        </div>
      <div class="jumbotron">
  <h1>Hai I am hari!</h1>
  <p>...</p>
  <p><a class="btn btn-success btn-lg" role="button">Learn more</a></p>
</div>

